@import "App.scss";

.container {
  display: flex;
  flex: 1;
  flex-direction: row;
  padding-left: $horizontal_padding_sm;
  padding-right: $horizontal_padding_sm;

  @include min-md {
  }

  .image-container {
    width: 30%;

    @include min-md {
      height: 200px;
      width: 300px;
    }

    .image {
      display: inline;
      // object-fit: contain;
      width: 100%;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .title {
      font-size: 16px;
      font-weight: 600;
    }

    .meta-data {
      font-size: 10px;
      font-weight: 300;
    }
  }
}
