@import "App.scss";

.row {
  display: flex;
  flex: 1;
  flex-direction: row;

  .image-container {
    width: 30%;

    @include min-md {
      height: 168.75px;
      width: 300px;
    }

    .image {
      display: inline;
      // object-fit: contain;
      width: 100%;
    }
  }

  .text-container {
    display: flex;
    flex-direction: column;
    margin-left: 12px;

    .title {
      color: $text-primary;
      font-size: 16px;
      font-weight: 600;

      @include min-md {
        font-size: 20px;
        font-weight: 700;
      }
    }

    .meta-data {
      color: $text-primary;
      font-size: 10px;
      font-weight: 300;
    }
  }
}
