@import "App.scss";

main {
  margin-top: 16px;
  padding-left: $horizontal_padding_sm;
  padding-right: $horizontal_padding_sm;

  @include min-md {
    padding-top: $top-padding-md;
    padding-left: 10%;
    padding-right: 10%; // TODO
  }

  .list {
    margin-top: 10px;

    @include min-md {
      padding: 0px;
      margin: 0px;
      padding-bottom: 20px;
    }
  }

  .item {
    @include min-md {
      margin-top: 30px;
    }
  }
}
