@import "App.scss";

.list {
  margin-top: 16px;
  padding-left: $horizontal_padding_sm;
  padding-right: $horizontal_padding_sm;

  @include min-md {
    padding-top: $top-padding-md;
    padding-bottom: 20px;
    padding-left: 10%;
    padding-right: 10%; // TODO
  }
}

.item {
  padding-top: 20px;
}
